# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.patools.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/*

.idea/.idea.patools.dir/.idea/workspace.xml
.idea.patools.dir/.idea/workspace.xml
.idea/workspace.xml
workspace.xml